.post{
    margin: 15px 0;
}
.container{
    max-width: 60%;
    padding: 0 10px;
    
}
.post__inner{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 15px 20px;
    min-height: 120px;

}
.post__header{
    
    display: flex;
    margin-bottom: 15px;
}
.post__roll{
    margin-left: 20px;
}
.user__pick{
width: 50px;
height: 50px;
border-radius: 50%;
}
.user__name{
    color:#5181b8;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1px;
}
.post__date{
    color:#939393;
    font-size: 12.5px;
    line-height: 1.154;
    font-weight: 400;
}
